.colCode{
    width: 50px; 
}

.colDetails{
    width: 50px;
}

.activeColor{
    color: green;
    text-decoration-line: underline;
    background-color:gainsboro;
}

.noActiveColor{
    color: blue;
}