<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" (click)="OnChangeMenu(1)" [class]='isActive == 1 ? "activeColor" : "noActiveColor"' [routerLink]="['/']"><span class="fa fa-home"></span> Home</a>
      <a class="nav-link" (click)="OnChangeMenu(2)" [class]='isActive == 2 ? "activeColor" : "noActiveColor"' [routerLink]="['/produits']"><span class="fa fa-edit"></span> Produit</a>
      <a class="nav-link" (click)="OnChangeMenu(3)" [class]='isActive == 3 ? "activeColor" : "noActiveColor"' [routerLink]="['/categories']"><span class="fa fa-print"></span> Categorie</a>
    </div>
  </div>
</nav>

