<div class="card" style="min-height: 451px;">
  <div class="card-header">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Produit/Categorie</label>
        <select class="form-control" style="width: 35%;" id="exampleFormControlSelect1">
            <option>Categorie 1</option>
            <option>Categorie 2</option>
            <option>Categorie 3</option>
            <option>Categorie 4</option>
          </select>
        
      </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="colCode">Code</th>
          <th scope="col">Libelle</th>
          <th scope="col" class="colDetails"></th>
          <th scope="col" class="colDetails"></th>
          <th scope="col" class="colDetails"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let prod of produits">
            <td class="colCode">{{ prod.code }}</td>
            <td>{{ prod.name }}</td>
            <td><img src="/{{site_name}}/assets/icones/page_find.png" class="img-thumbnail" (click)="ClickDetails(prod.code)" alt="aucun"/></td>
            <td><img src="/{{site_name}}/assets/icones/page_edit.png" class="img-thumbnail" (click)="ClickEdit(prod.code)" alt="aucun"/></td>
            <td><img src="/{{site_name}}/assets/icones/page_delete.png" class="img-thumbnail" (click)="ClickDelete(prod.code)" alt="aucun"/></td>
          </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" style="position: absolute; bottom:0;">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item" *ngFor="let el of tabPage">
            <button class="page-link" (click)="method(el)">{{el}}</button>
        </li>
        
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <button type="button" class="btn btn-link" (click)="ClickCreate()" style="position: absolute; right:30px; bottom:15px">Create</button>
  </div>
</div>