  <div class="mb-3">
    <label for="inputLibelle" class="form-label">Libelle</label>
    <input type="text" [(ngModel)]="libelle" class="form-control" id="inputLibelle">
    <!-- <div id="libelle_error" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  
  <div class="mb-3">
    <label for="exampleDataList" class="form-label">Categorie</label>
    <select class="form-select" [(ngModel)]="code" aria-label="Default select example" name="code">
        <option selected>Open this select menu</option>
        <option *ngFor="let cat of categories" value="{{ cat.code }}">{{ cat.libelle }}</option>
      </select>
</div>

<button type="button" (click)="ClickCreate()" class="btn btn-primary">Create</button>