<div class="carte_parent" style="display:none ;">
  <div class="carte_absolute">

  </div>
</div>

<div>
    <h1>Tache a faire</h1>
    <ul>
      <li>Add user + role authentification</li>
      <li>Add loggin fonctionnality</li>
      <li>Add interceptor back-end</li>
      <li>Add table multi-selection</li>
      <li>Add child route</li>
      <li>Add Modal-class</li>
      <li>Ajout fonctionnaliter DELETE</li>
      <li>Lien swagger : <a href="">https://localhost:7185/swagger/index.html</a></li>  
      <li>Lien font-awesome : node_modules/font-awesome/css/font-awesome.css</li> 
    </ul>
</div>

